# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local
*.tsbuildinfo

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# env
.env
.env.local
.env.*.local

# convex
.convex

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
